body {
    background-color: lightblue;
    padding: 10px 20px;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 16px;
}

.list {
    font-family: verdana;
    font-size: 14px;
}

.container {
    display: flex;
    justify-content: center;
}

/* Navigation Bar for Interaction with the User */
#navbar{
    display: flex;
    justify-content: center;
    position: relative;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

#navbar ul{
    display: flex;
    list-style: none;
}
#navbar ul li{
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 20px; 
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

.author{
    color: white;
    text-align: right;
}

#img1 {
    width: 200px;
    height: 200px;
    position: relative;
    animation: img_1 2s;
    animation-iteration-count: infinite;

}

#img2 {
    width: 200px;
    height: 200px;
    position: relative;
    animation: img_2 2s;
    animation-iteration-count: infinite;
}

/* Animation of Images */
@keyframes img_1 {
    0% {
        top: 0px;
        left: 0px;
    }

    50% {
        left: 200px;
    }
    100% {
        left: 0px;
    }
}

@keyframes img_2 {
    0% {
        top: 0px;
        right: 0px;
    }
    50% {
        top: 0px;
        right: 200px;
    }
    100% {
        top: 0px;
        right: 0px;
    }
}